body {
  width: 90%;
  margin: 0 auto;
}

table:table {
  background-color: blue;
  color: white;
  margin-right: 1%;
}

table:table2 {
  background-color: black;
  color: white;
}

table {
  width: 49%;
  float: left;
}
